@import "../variables";

/* Card
---------------------------------------------------------------------------------- */

/* Main
-------------------------------------------------- */

.card {
  display: inline-block;

  border: 1px solid $color-shade;
  border-radius: 3px;

  transition: all .25s ease-out;
  opacity: 1;

  &.card__hl {
    box-shadow: 0 2px 20px -2px $color-acc;
  }

  &.card__selected {
    border-color: $color-add;
  }

  &.card__removed {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
  }

  @include touch() {
    width: calc(32px + 10vh);
    height: calc(32px + 10vh);
    padding: 1vh;
    margin: 0.5vh;
  }

  @include desktop() {
    width: calc(64px + 10vh);
    height: calc(64px + 10vh);
    padding: 1vh;
    margin: 1vh;
  }
}

/* /Main
-------------------------------------------------- */

/* Back
-------------------------------------------------- */

.back {
  background: $color-prime;
}

/* /Back
-------------------------------------------------- */

/* /Card
---------------------------------------------------------------------------------- */
